@{
    ViewData["Title"] = "Order Success";
}

<div class="container mt-4">
    <h2>Order Successful</h2>
    <p>@ViewBag.Message</p>

    <a href="/Book/Index" class="btn btn-secondary">Place Another Order</a>
</div>
